
main {
    padding-top: 32px;
}

.package {
    border: 4px solid #0e4f1f;
    border-left: none;
    margin: 16px 0;
    width: 80%;
}

.package__link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.package__link:hover,
.package__link:active {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    border-color: #ff5454;
}

.package__link--title {
    color: black;
}

.package__link--subtitle {
    color: #979797;
}

.package__link--description {
    color: #0e4f1f;
    border: 1px solid #0e4f1f;
    padding: 16px;
    font-size: 20px;
    background-color: white;
}

.clearfix {
    clear: both;
}

#package-plus {
    background-color: rgba(213, 255, 220, 0.95);
}

#package-free {
    background-color: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}

#package-free:hover,
#package-free:active {
    border-left-color: #ff5454;
}

#package-premium {
    background-color: rgba(14, 79, 31, 0.95);
}

#package-premium .package__link--title {
    color: white;
}

#package-premium .package__link--subtitle {
    color: #bbb;
}